@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: roboto;
  src: url(../Fonts/RobotoCondensed-Regular.ttf); }

@font-face {
  font-family: robotoLight;
  src: url(../Fonts/RobotoCondensed-Light.ttf); }

@font-face {
  font-family: robotoBold;
  src: url(../Fonts/RobotoCondensed-Bold.ttf); }

html {
  font-size: 62.5%; }

body {
  background-color: whitesmoke; }

/* ENCABEZADO */
.logo {
  border-radius: 100px;
  display: inline-block;
  height: 150px;
  width: 150px;
  grid-area: logo; }

h1 {
  background-image: linear-gradient(to right, #2f4f98, #9498a1);
  text-align: center;
  font-family: robotoBold;
  font-size: 40px;
  color: black;
  padding: 20px;
  grid-area: h1; }

.redes {
  grid-area: redes;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .redes svg {
    color: black; }

/* BARRA DE NAVEGACION */
.barra {
  margin-left: 38%;
  font-family: roboto;
  padding: 15px;
  background-color: #2f4f98;
  border: solid 1px black;
  border-radius: 15px;
  width: 100%; }
  .barra ul {
    background-color: #2f4f98; }
  .barra a {
    font-size: 16px;
    color: black; }
    .barra a:hover {
      background-image: linear-gradient(to right, #2f4f98, #9498a1);
      border-radius: 5px; }

.margin {
  margin-left: 7%; }

.noitem {
  text-decoration: none;
  list-style: none; }

.principal__titulo {
  grid-area: titulo;
  font-family: robotoBold;
  font-size: 35px;
  padding: 0px;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .principal__titulo:hover {
    font-size: 45px;
    background-color: #2f4f98;
    padding: 10px;
    border-radius: 5px;
    transition: 2s; }

h3 {
  font-family: robotoBold;
  font-size: 25px;
  margin-top: 2%;
  margin-bottom: 1%;
  display: block;
  text-align: center; }

.futer {
  grid-area: futer;
  font-family: robotoBold;
  font-size: 16px;
  text-align: center;
  background-color: #2f4f98;
  margin-top: 2%; }

/* MEDIA QUERIES 360PX */
@media (max-width: 360px) {
  /* INDEX*/
  .logo {
    height: 120px;
    width: 120px;
    margin-left: 22%; }
  h1 {
    font-size: 20px; }
  .principal__titulo {
    font-size: 18px;
    padding: 0px;
    margin-top: 3%; }
  h3 {
    font-size: 16px; }
  .barra a {
    font-size: 12px;
    display: block;
    text-align: center;
    margin-left: 0px; }
    .barra a:hover {
      background-image: linear-gradient(to right, #2f4f98, #9498a1);
      border-radius: 5px; }
  .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .redes svg {
      width: 20px;
      height: 20px; }
  .futer {
    font-size: 10px; } }

/* INDEX */
/* MIXIN */
/* MAP GET */
.fotoPrincipal {
  grid-area: foto; }
  .fotoPrincipal img {
    grid-area: foto;
    border-radius: 15px;
    width: 60%;
    margin-left: 20%;
    margin-top: 20px; }

/* CARDS INDEX */
.cardsIndex {
  background-color: #b5bbdb65;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  margin-left: 2%;
  border: #2f4f98 3px solid;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.textoCards {
  font-size: 16px;
  color: black;
  font-family: robotoLight;
  text-align: justify; }

.espacio {
  margin-left: 10%; }

.imgCards {
  margin-bottom: 20px;
  margin-left: 15%;
  border-radius: 15px;
  width: 220px;
  height: 150px; }

.boton {
  display: block;
  box-shadow: 5px;
  background-image: linear-gradient(to right, #2f4f98, #9498a1);
  color: black;
  font-size: 14px;
  font-family: roboto; }

.fechas {
  font-family: robotoLight;
  font-size: 20px;
  color: black;
  display: block;
  text-align: center;
  margin-bottom: 5%;
  list-style: none; }

.principal__fechas {
  grid-area: fechas;
  display: block;
  transition: transform 2s;
  margin-top: 20px;
  margin-bottom: 5px; }

/* PÁGINA NOSOTROS */
.contenedorNosotros {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "carruselComienzos comienzos comienzos" "act act carruselAct" "futer futer futer"; }

.carruselComienzos {
  grid-area: carruselComienzos;
  margin: 5px;
  width: 550px;
  height: 400px; }

.carruselAct {
  grid-area: carruselAct;
  margin-top: 15px;
  width: 550px;
  height: 400px; }

.textoNosotros {
  font-family: robotoLight;
  font-size: 18px;
  text-align: justify; }

.comienzos {
  grid-area: comienzos;
  background-image: linear-gradient(to bottom, whitesmoke, rgba(255, 251, 251, 0.664), rgba(177, 177, 177, 0.664));
  border-radius: 10px;
  padding: 5px; }

.actualidad {
  grid-area: act;
  background-image: linear-gradient(to bottom, whitesmoke, rgba(255, 251, 251, 0.664), rgba(177, 177, 177, 0.664));
  border-radius: 10px;
  padding: 5px;
  margin: 10px; }

.fotosCarrusel {
  border-radius: 15px;
  width: 550px;
  height: 400px; }

/* PÁGINA CAMPEONATOS */
.contenedorCampeonatos {
  width: 100%;
  display: grid;
  grid-template-areas: "titulo titulo titulo" "tablaKa . tablaKt" "tablaAa . tablaAt" "futer futer futer"; }

#tablaKa {
  grid-area: tablaKa; }

#tablaKt {
  grid-area: tablaKt; }

#tablaAa {
  grid-area: tablaAa; }

#tablaAt {
  grid-area: tablaAt; }

.tabla {
  font-family: roboto;
  font-size: 20px;
  padding: 20px;
  border: solid 3px #2f4f98;
  border-radius: 10px;
  display: inline-block;
  margin-left: 20%; }

.tabla td {
  text-align: center;
  padding: 5px; }

/*PÁGINA REGLAMENTOS*/
.textoReglamentos {
  font-family: robotoLight;
  font-size: 18px;
  text-align: justify;
  margin-top: 20px; }

/*Efecto Parallax*/
.img-1 {
  background-image: url("../images/karting tierra.jpeg");
  margin-top: 10%; }

.img-2 {
  background-image: url("../images/KART.jpg");
  margin-top: 3%; }

.img-3 {
  background-image: url("../images/RALLY.jpg");
  margin-top: 3%; }

.img-4 {
  background-image: url("../images/autos pista.jpg");
  margin-top: 3%; }

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  max-width: 100%;
  position: relative; }

.titulo h3 {
  font-family: robotoBold;
  font-size: 25px;
  background-image: linear-gradient(to bottom, #2f4f98, #7775fa, #9498a1);
  padding: 20px;
  border-radius: 15px;
  display: inline;
  text-align: center; }

/* PÁGINA CONTACTO */
form {
  padding: 20px;
  font-family: roboto;
  font-size: 20px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 320px;
  width: 700px;
  border: solid 3px #2f4f98; }

label {
  display: block;
  padding: 10px; }

textarea {
  display: block;
  padding: 5%;
  height: 200px;
  width: 500px;
  margin-top: 4%; }

input {
  display: inline;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 4%; }

/* MEDIA QUERIES 360PX */
@media (max-width: 360px) {
  /* INDEX*/
  .fotoPrincipal img {
    grid-area: foto;
    border-radius: 15px;
    width: 80%;
    margin-left: 10%; }
  .cardsIndex {
    padding: 20px;
    margin: 10px; }
  .textoCards {
    font-size: 12px; }
  .imgCards {
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 15px;
    width: 220px;
    height: 150px; }
  .fechas {
    font-size: 12px; }
  /* PÁGINA NOSOTROS */
  .contenedorNosotros {
    grid-template-areas: "titulo" "carruselComienzos" "comienzos" "carruselAct" "act" "futer"; }
  .textoNosotros {
    font-size: 14px; }
  .carruselComienzos {
    margin-left: 30px;
    height: 180px;
    width: 300px; }
  .carruselAct {
    margin-left: 30px;
    height: 180px;
    width: 300px;
    margin-top: 15px; }
  .comienzos {
    padding: 5px;
    overflow: hidden; }
  .fotosCarrusel {
    border-radius: 15px;
    height: 180px;
    width: 300px; }
  /* PÁGINA CAMPEONATOS */
  .contenedorCampeonatos {
    grid-template-areas: "titulo" "tablaKa" "tablaKt" "tablaAa" "tablaAt" "futer"; }
  .tabla {
    font-size: 14px;
    padding: 5px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .tabla td {
      text-align: center;
      padding: 5px; }
  .h3Camp {
    display: inline-block;
    text-align: center; }
  /*PÁGINA REGLAMENTOS*/
  .textoReglamentos {
    font-size: 14px;
    margin-top: 20px; }
  .parallax {
    height: 30rem; }
  .titulo h3 {
    font-size: 15px;
    padding: 5px; }
  /* PÁGINA CONTACTO */
  form {
    padding: 20px;
    font-family: roboto;
    font-size: 13px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    width: 90%; }
    form textarea {
      height: 180px;
      width: 280px; } }
