
html{
    font-size: 62.5%;
}

body {
    background-color: whitesmoke;
}

/* ENCABEZADO */
.logo{
    border-radius: 100px;
    display: inline;
    height: 150px;
    width: 150px;
    grid-area: logo;
}

.bandera{
    background-image: linear-gradient(to right, rgba(47,79,152,0.9), rgba(148, 152, 161,0.9)), url("../images/banderacuadros6.jpg");
    background-repeat: no-repeat;
    padding: 80px;
}

h1{
    background-image: linear-gradient(to right, $colorPrincipal, rgb(148, 152, 161));
    text-align: center;
    font-family: robotoBold;
    font-size: 40px;
    color: $colorSecundario;
    padding: 20px;
    grid-area: h1;
    border-radius: 15px;
}

/* BARRA DE NAVEGACION */

.barra{  
    font-family: robotoBold;
    padding: 15px;
    background-color:$colorPrincipal;
    border: solid 1px $colorSecundario;
    border-radius: 15px;
    width: 100%;

    ul{
        background-color: $colorPrincipal;        
    }

    a{
        font-size: 16px;
        color: $colorSecundario;
        margin-left: 12%;
        
        &:hover{
            background-image: linear-gradient(to right, $colorPrincipal, rgb(148, 152, 161));
            border-radius: 10px;
        } 
    }

    ul>li>a{
        width: 100%;
        margin-left: 0%;
        padding: 20px;
        }
}

.margin{
    margin-left: 7%;
}

.noitem{
    text-decoration: none;
    list-style: none;
}

.principal__titulo{
    grid-area: titulo;
    font-family: robotoBold;
    font-size: 35px;
    padding: 0px;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &:hover{
        font-size: 45px;
        background-color: $colorPrincipal;
        padding: 10px;
        border-radius: 5px;
        transition: 2s;
    }
}

h3{
    font-family: robotoBold;
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 1%;
    display: block;
    text-align: center;
}

.futer{
    grid-area: futer;
    font-family: robotoBold;
    font-size: 16px;
    text-align: center;
    background-color: $colorPrincipal;
    margin-top: 2%;
    color: $colorSecundario;
    background-image: linear-gradient(to top, $colorPrincipal, rgb(145, 164, 209), whitesmoke);
    nav a{
        color: $colorSecundario;
        margin: 8px;
            &:hover{
                background-image: linear-gradient(to right, $colorPrincipal, rgb(152, 177, 233));
                border-radius: 5px;
                color: black;
        }  
    }
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    svg{
        color: $colorSecundario;
        margin: 8px;
    }
}

/* MEDIA QUERIES 360PX */

@media (max-width: 360px){

    /* INDEX*/

    .logo{
        height: 120px;
        width: 120px;
        margin-left: 17%;
    }
    
    h1{
        font-size: 20px;
    }

    .bandera{
        padding: 10px;
    }

    .principal__titulo{
        font-size: 18px;
        padding: 0px;
        margin-top: 3%;
    }
    
    h3{
        font-size: 16px;
    }

    .barra{
        a{
            font-size: 12px;
            display: block;
            text-align: center;
            margin-left: 0px;
        }
    }
    .redes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
        svg{
            width: 20px;
            height: 20px;
        }
    }

    .futer{
        font-size: 10px;
    }

}